<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="cn.com.vo.CustomerModel" alias="CM"/>
		<typeAlias type="cn.com.vo.CustomerQueryModel" alias="CQM"/>
		<typeAlias type="cn.com.vo.GoodsModel" alias="GM"/>
		<typeAlias type="cn.com.vo.GoodsQueryModel" alias="GQM"/>
	</typeAliases>
	<plugins>
		<plugin interceptor="cn.com.common.pageutil.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*Page.*"/>
		</plugin>
	</plugins>
</configuration> 